<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ICTlab</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-smartphones.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-pcs.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
    </head>
<body>
    <div class="wrap">
        <img class="logo" src="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
        <a href="/home/index"><div class="box"><h2>ICTlab (徳竹研究室)</h2></div></a>
        <a href="/home/index"><div class="box box1">ICTlabについて</div></a>
        <a href="/home/team"><div class="box box2">研究班紹介</div></a>
        <a href="/home/member"><div class="box box3">メンバー</div></a>
        <a href="/home/achievement"><div class="box box4">実績</div></a>
        <a href="/home/404"><div class="box box5">制作物紹介</div></a>
        <a href="/home/blog"><div class="box box6">メンバーブログ</div></a>
    </div>
    <header>
        <img class="logo" src="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
        <h3>ICTLab (徳竹研究室)</h3>
        <p id="menu">menu</p>
        <nav id="nav" class="navi">
            <ul>
            <li><a href="/home/index">ICTlabについて</a></li>
            <li><a href="/home/team">研究班紹介</a></li>
            <li><a href="/home/member">メンバー</a></li>
            <li><a href="/home/achievement">実績</a></li>
            <li><a href="/home/404">制作物紹介</a></li>
            <li><a href="/home/blog">メンバーブログ</a></li>
            </ul>    
        </nav>
    <div id="back" class="menu-background"></div>
    </header>
    <main>
        <div class="flame1">
            <h2>Member's Blog</h2>
                <div class="blog-all">
                    {% for data in blog %}
                    <div class="blog-menu">
                        <a href="{{url_for('blog', page=data['title'])}}">
                            <p class="date">{{data['date']}}</p>
                            <img src="{{url_for('static', filename=data['img'])}}">
                            <h1>{{data['title']}}</h1>
                            <p>{{data['contents']}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            <div class="none"></div>
        </div>
    </main>
    <footer>
        <div class="bottommenu">
            <h1>東洋大学牛久高校ICTLab</h1>
            <div><a href="/home/access">アクセス</a></div>
            <div>プライバシーポリシー</div>
            <div><a href="https://www.toyo.ac.jp/ja-JP/ushiku/sh/"> 東洋大学付属牛久高校について</a></div>
            <div></div>
        </div>
    </footer>
    <script src="static/js/main.js"></script>
</body>
</html>