<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ICTlab</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-smartphones.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-pcs.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
    </head>
<body>
    <div class="wrap">
        <img class="logo" src="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
        <a href="/home/index"><div class="box"><h2>ICTlab (徳竹研究室)</h2></div></a>
        <a href="/home/index"><div class="box box1">ICTlabについて</div></a>
        <a href="/home/team"><div class="box box2">研究班紹介</div></a>
        <a href="/home/member"><div class="box box3">メンバー</div></a>
        <a href="/home/404"><div class="box box4">実績</div></a>
        <a href="/home/404"><div class="box box5">制作物紹介</div></a>
        <a href="/home/blog"><div class="box box6">メンバーブログ</div></a>
    </div>
    <header>
        <img class="logo" src="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
        <h3>ICTLab (徳竹研究室)</h3>
        <p id="menu">menu</p>
        <nav id="nav" class="navi">
            <ul>
            <li><a href="/home/index">ICTlabについて</a></li>
            <li><a href="/home/team">研究班紹介</a></li>
            <li><a href="/home/member">メンバー</a></li>
            <li><a href="/home/404">実績</a></li>
            <li><a href="/home/404">制作物紹介</a></li>
            <li><a href="/home/blog">メンバーブログ</a></li>
            </ul>    
        </nav>
    <div id="back" class="menu-background"></div>
    </header>
    <main>
        <div class="flame1">
            <h2>member</h2>
            <div class="member">
                <div class="box1">
                    <img src="https://cdn.discordapp.com/avatars/528999889334566913/1b0e20f5291bd3986529f4f85a8e8917.webp?size=80">
                    <p>Tokutake Keitaro</p>
                </div>
                <div class="box2">
                    <p>研究室長・顧問<br>好きな飲み物：コーラ<br>研究室の最高顧問<br>最近生徒の言っているサーバーの話がよくわからなくなってきてちょっと悲しい;;</p>
                </div>
            </div>
            <div class="member">
                <div>
                    <img src="https://cdn.discordapp.com/avatars/797019800991694859/f3975c18eefd109d01551bc40bf770b8.webp?size=80">
                    <p>Misono Ayao&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="box2">
                    <p>好きなドラマ：相棒、科捜研の女<br>サーバー管理班・ラボのマシンはすべて彼が管理していると言っても過言ではない<br>わからなかったらとりあえず彼に聞けばいい<br>＞東洋大学付属牛久中学出身</p>
                </div>
            </div>
            <div class="member">
                <div>
                    <img src="https://cdn.discordapp.com/avatars/798798325309636631/a97117b57314a8294f4ba2c150e50d68.webp?size=80">
                    <p>Sakabe Kazuto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="box2">
                    <p>趣味：Pythonプログラミング<br>サーバー管理班<br>最近はNLPに興味があるがなかなか手が出せないでいる<br>＞茨城県立土浦四中出身</p>
                </div>
            </div>
            <div class="member">
                <div>
                    <img src="https://cdn.discordapp.com/avatars/789121158850281503/e1d3bc1d2e68555a04614b05d896b39e.webp?size=80">
                    <p>Yamamoto Syogo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="box2">
                    <p>好きな参考書：精練基礎問題集<br>3Dプリンタ班<br>モデリングを主にやっていたが最近はセキュリティ系にも興味を示している<br>＞千葉県立古ヶ崎中学校</p>
                </div>
            </div>
            <div class="member">
                <div>
                    <img src="https://cdn.discordapp.com/avatars/853910247905951774/daa4348b51b18aee9f74793c9f6bfc79.webp?size=80">
                    <p>Itagaki Kun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="box2">
                    <p>あなたにとってJavaとは？：え、？ツンデレでとてもかわいいですよ？<br>プログラミング班<br>ディベート部所属でとても頭の回転がはやい<br>＞東洋大学付属牛久中学出身</p>
                </div>
            </div>
            <div class="member">
                <div>
                    <img src="">
                    <p>Matsuzaki Shun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="box2">
                    <p>好きなアニメ：盾勇者の成り上がり<br>3Dプリンタを主に活動している<br>最近はラボのマスコットキャラをモデリングしてくれているらしい<br>ついこの間着始めたばかりだというのに3Dプリンタをいつの間にか使いこなしていてびっくり<br>＞不明</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="bottommenu">
            <h1>東洋大学牛久高校ICTLab</h1>
            <div><a href="/home/access">アクセス</a></div>
            <div>プライバシーポリシー</div>
            <div><a href="https://www.toyo.ac.jp/ja-JP/ushiku/sh/"> 東洋大学付属牛久高校について</a></div>
            <div></div>
        </div>
    </footer>
    <script src="static/js/main.js"></script>
</body>
</html>