<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>メニュー</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
</head>
    
<body>
    
<header>
    <p id="menu">menu</p>
    <nav id="nav" class="navi">
        <ul>
        <li><a href="#">オアシス</a></li>
        <li><a href="#">レディオヘッド</a></li>
        <li><a href="#">虎舞竜</a></li>
        </ul>    
    </nav>
<div id="back" class="menu-background"></div>
</header>
 
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>